/* Formatting for responsive design was originally set up for a large window.
We had realized that the window on a computer would be responsive, but a mobile
wouldn't actually show the responsive design, so I we decided to format it for a mobile
first, then change the design as the screen got larger. */

/* Source: https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Responsive_Design */

/* Font */
/* Beginning of Mobile Formatting
Organizer: Korey Hayes
Source:  https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Responsive_Design
Owners: Shown in the main formatting and @Media Formatting area */


/***************** 
* Owner : Honglin (Jim) Wei
* Date  : Nov 24 (v1)
* From  : https://www.w3schools.com/html/html_intro.asp
          https://developers.google.com/maps/documentation/javascript/adding-a-google-map#maps_add_map-css
******************/

body,h1,h2,h3,h4,h5,h6, header, footer {font-family: "Lato", sans-serif}


header{
    font-size: 50px;
    float: right;
    text-align:right;
    background-color: #4e6d26;
    }

#ac-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.6);
    z-index: 1001;
}

#popup {
    width: 50%;
    height: 50%;
    background: #FFFFFF;
    border: 5px solid #000;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    box-shadow: #64686e 0px 0px 3px 3px;
    -moz-box-shadow: #64686e 0px 0px 3px 3px;
    -webkit-box-shadow: #64686e 0px 0px 3px 3px;
    position: relative;
    top: 25%; left: 25%;
    overflow:auto;
}

body,h1,h2,h3,h4,h5,h6, header, footer {font-family: "Lato", sans-serif}

#mapid {
    height: 94%;
    width: 100%;
}

html, body {
    height: 100%;
    margin: 0;
}
a {
    color: white;
    text-decoration: none;
    /* font-weight:bold; */
  }
  a:hover {
    font-weight:bold;
  }

  .footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
    margin-top: 10px;
}


.footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
    margin-top: 10px;
}

/***************** 
* Owner : Korey Hayes
* Date  : Nov 24 (v1)
* From  : https://programminghub.io/coursedetail/programming/learn/CSS/
* the tag names li, li a and ul are from https://developer.mozilla.org/en-US/docs/Web/HTML/Element
******************/
/* set classes and tags to have full window width for mobile/small window viewing */

/* we had decided as a group that the top of our page should have
a background to make sure that the photo placement is seamless */
.top{background-color: #4e6d26;
  display: table;
  clear: both;
}

article {
text-align: left;
float: left;
margin-left: 10px; 
}
.sect:after {
content: "";            
display: table;         
clear: both;            
overflow:hidden
} 
aside {
float: left;
}
/* This header was designed  to use my Mattawa River photo
to coincide with the Fleming College Logo */
header{
font-size: 50px;
float: right;
text-align:right;
background-color: #4e6d26;
}
/* End Owner: Korey Hayes */

/* End of Mobile Formatting */
.columnk1{ float: left;
width: 59%;
}
.columnk2{ float: right;
width: 40%
}
.columnk3{ float: right;
width: 59%
}
.columnk4{ float: left;
width: 40%;
}
article { width: 60%;}
aside { width: 30%;}
header{width: 67%;}
li a {width:auto;}
.image{
width:100%;}

/* Beginning of Computer Monitor Formatting */

@media only screen and (max-width: 1000px) {
    .columnk1,  .columnk2, .columnk3, .columnk4, article, .image,
header, aside, nav, li, a, .box, .imgcolumn1, .imgcolumn3, .top{ 
width: 100%; 
}
  /***************** 
* Owner : Korey Hayes
* Date  : Nov 24 (v1)
* From  : https://programminghub.io/coursedetail/programming/learn/CSS/
* the tag names li, li a and ul are from https://developer.mozilla.org/en-US/docs/Web/HTML/Element
******************/

}

/* End of Computer Monitor Formatting */